#middle, #footer{
	width: 1190px;
	overflow: hidden;
	margin: 0 auto;
}
.m_o, .m_t, .m_th, .m_f, .m_fi{
	width: 100%;
	overflow: hidden;
}
.m_o{
	margin-top: 20px;
}
.mo_left{
	width: 747px;
	overflow: hidden;
	float: left;
}
.left_t, .left_th, .left_f, .cooperate{
	width: 100%;
	overflow: hidden;
}
.left_t{
	margin-top: 32px;
}
.left_t ul li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #16700c;
	width: 472px;
	border-bottom: 1px solid #959895;
	padding-bottom: 6px;
}
.left_t ul li span a{
	color: #ff9900;
	font-size: 12px;
}
.left_th ul li{
	float: left;
	width: 243px;
	overflow: hidden;
	margin: 14px 0 0 8px;
}
.img{
	width: 243px;
	height: 116px;
	position:relative;
}
.left_th ul li span{
	width: 243px;
	color: #FFFFFF;	
	background: #000000;
	position:absolute;
	margin-top: -18px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align: center;
	padding: 1px 0;
}
.left_th ul li a img{
	transition: 1s;
}
.left_th ul li a:hover img{
	transform: scale(1.2);
	transition: 1s;
}
.left_f{
	margin-top: 37px;
}
.left_f ul li{
	float: left;
}
.lf_o{
	width: 57px;
	height: 47px;
	background: #186f10;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 4px;
	padding-top:12px;
	font-weight: bold;
}
.lf_t{
	width: 690px;
	height: 60px;
	background: #e6e6e6;
}
.lf_t p{
	float: left;
	margin: 12px 0 0 10px;
	color: #404340;
	letter-spacing: 1px;
	font-size: 12px;
}
.lf_t p a{
	
}
.mo_right{
	width: 412px;
	overflow: hidden;
	float: right;
}
.mo_right h1{
	text-align: center;
	font-size: 22px;
}
.mr_o{
	width: 100%;
	overflow: hidden;
	margin-top: 27px;
}
.mr_o h2{
	border-bottom: 1px solid #b3b3b3;
	color: #16700c;
	font-size: 18px;
	padding-bottom: 10px;
}
.mr_o h2 span{
	color: #6d6d6d;
	font-size: 16px;
	font-weight: normal;
	padding: 0 10px;
}
.mr_o h2 img{
	padding-right: 10px;
}
.mr_o ul li{
	color: #4d4d4d;
	font-size: 14px;
	margin-top: 15px;
	background: url(../images/dt2_15.jpg) no-repeat left;
}
.mr_o ul li a:hover{
	background: url(../images/dt2_12.jpg) no-repeat left;
	color: #16720d;
}
.h_o{
	margin: 19px 0;
}
.mt_o, .mt_t, .mt_th{
	width: 367px;
	height: 1160px;
	float: left;
	margin-left: 44px;	
}
.head, .head1, .head_cooperate{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #969897;	
}
.head1{
	padding-bottom: 1px;
}
.head_cooperate ul li{
	color: #16700c;
	font-size: 22px;
	text-align: center;
	background: url(../images/dt_22.jpg) no-repeat;
	background-position: 50% 100%;
	padding-bottom: 8px;

}
.head ul li{
	float: left;	
	background: url(../images/dt1_08.jpg) no-repeat right;
	margin-left: 30px;
	padding-right: 30px;
	margin-bottom:5px;
}
.head ul li a, .head ul li a{
	color: #606260;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.head ul li a:hover{
	color: #16700c;
	background: url(../images/dt_22.jpg) no-repeat bottom;
	padding-bottom: 7px;
}
.he_lo{
	color: #16700c;
	background: url(../images/dt_22.jpg) no-repeat bottom;
	padding-bottom: 7px;
}
#he_lo{
	color: #16700c;
	background: url(../images/dt_22.jpg) no-repeat bottom;
	padding-bottom: 7px;
}
.news-o, .news-t, .hd_img, .en_green, .link{
	width: 100%;
	overflow: hidden;
}
.news-o ul li{
	line-height: 28px;
	font-size: 14px;	
}
.news-t ul li{	
	line-height: 32px;
	font-size: 14px;
}
/*添加的内容*/
.news-t ul li, .en_green ul li, .news-o ul li{
	width: 367px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mr_o ul li{
	width: 412px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.news-o .ul_news li, .news-o .ul_newst li, .news-o .ul_newsth li{
	white-space: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	letter-spacing: 1.2px;
}
.news-o .ul_newst li{
	width: 114px;
	float: left;
}
.news-o ul li a{
	color: #4d4d4d;
}
.news-t ul li a{
	color: #6e6d6d;
}
.news-o ul li .ul_news li{
	float: left;
	width: 188px;		
	line-height: 25px;
	letter-spacing: 0px;
}
.news-o ul li .ul_news li a, .ul_newst li{
	color: #16700C;
	font-weight: bold;
}
.news-o ul li a:hover, .news-t ul li a:hover{
	color: #16700c;
}
.ul_newst li{
	float: left;
	width: 114px;
	margin-left: 12px;
}
.ul_newsth{
	width: 367px;
	height: 202px;
}
.img_o{
	width: 367px;
	height: 202px;
	position:relative;
}
.ul_newsth li span{
	width: 367px;
	color: #FFFFFF;
	background: #000000;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align: center;
	margin-top: -29px;	
	padding: 1px 0;
}
#sd{
	font-weight: bold;
	color:#16700c;
}
.sd_b{
	color: #FFFFFF;
	background: #ff9900;
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
	padding: 0 8px;
	margin-left: 5px;
}
.video{
	width: 100%;
	overflow: hidden;
}
.video ul li{
	width: 369px;
	height: 196px;	
}
.img2{
	width: 369px;
	height: 196px;
	position:relative;
}
.video ul li a span{
	width: 367px;
	overflow: hidden;
	background: #146e0c;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin-top: -21px;
	text-align: center;
	color: #FFFFFF;
	padding: 2px 0;
}
.video ul li a:hover span{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#vi_ul{
	width: 100%;
	height: 96px;
}
#vi_ul ul li{
	width: 180px;
	height:96px;
	float:left;
	margin-left: 7px;
	margin-top: 5px;
}
.img3{
	width: 180px;
	height: 96px;
	position: relative;
}
#vi_ul ul li a span{
	width: 180px;
	overflow: hidden;
	background: #146e0c;
	position: absolute;
	margin-top: -18px;
	padding: 1px 0;
}
.public, .rz{
	width: 369px;
	overflow: hidden;
}
.head1 ul li a{
	color: #606260;
	font-size: 16px;
	font-weight: bold;
	background: url(../images/dt3_05.jpg) no-repeat ;
	padding-left: 10px;
	background-position: 0 5px;
	letter-spacing: 1px;
}
.pb_text, .show{
	width: 100%;
	overflow: hidden;
}
.pb_text ul li{
	width: 369px;
	overflow: hidden;
	margin-top: 5px;
}
.pb_text ul li img{
	width: 180px;
	height: 86px;
	float: left;
}
.pb_text ul li p{
	float: right;
	width: 178px;
	height: 80px;
	overflow:hidden;
	color: #747474;
	line-height: 20px;
	display: -webkit-box;/*段落隐藏*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	font-size: 12px;
}
.m_th{
	margin-top: 10px;
}
.head2{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #16700c;
}
.head2 p{
	width: 102px;
	height: 37px;
	background: #16700c;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 37px;
	letter-spacing: 1px;
	font-family: "微软雅黑";
}
.energy{
	width:369px;
	overflow: hidden;
	float: left;
	margin-left: 41px;
	margin-top: 25px;
}
.en_green{
	width: 367px;
	overflow: hidden;
}
.en_green ul{
	width: 367px;
	float:left;
}
.en_green ul li{
	width:367px;
	overflow: hidden;
	margin-top:15px ;
}
.en_green ul li a b{
	font-size: 14px;
	color: #3f403f;
}
.en_green ul li a:hover b{
	color: #16700c;
}
.en_green ul li a{
	width: 369px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	letter-spacing: 1px;
	color: #4a4a4a;
	background: url(../images/dt5_09.jpg) no-repeat ;
	padding-left: 10px;
	background-position: 0 8px;
}
.en_green ul li a:hover{
	color: #146E0C;
	background:url(../images/dt5_0901.jpg) no-repeat;
	background-position: 0 8px;
}
.en_ge{
	margin-left: 0;
}
.cooperate ul li{
	float: left;
	width: 228px;
	height: 66px;
	margin-top: 20px;
	margin-left: 10px;
	border: 1px solid #FFFFFF;
}
.cooperate ul li:hover{
	border: 1px solid #16700c;
}
.cooperate ul .coop_lio{
	margin-left: 0;
}
.link ul{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
}
.link ul li{
  float: left;
  width: 1100px;
  overflow: hidden; 
  margin-left: -23px;
  margin-top: -5px;
}
.link ul li a{
	display: block;
	float: left;
  color: #717271;
  font-size: 12px;
  margin-left: 25px;
  line-height: 30px;
  letter-spacing: 1px;
}
.link ul li a:hover{
	color: #16700c;
}
.link ul .link_lio{
	width: 80px;
	overflow: hidden;
	color: #6b6c6b;
	font-size: 14px;
	margin-left: 0;	
	margin-top: 0;
}
.f_one, .f_two{
	width: 1008px;
	overflow: hidden;
	margin: 0 auto;
}
.f_one ul li{	
	width:103px;
	float: left;
	border-right:1px solid #535553 ;
	text-align: center;
}
.f_one ul li a{
	color: #535553;
}
.f_one ul li a:hover{
	color: #146E0C;
	font-weight: bold;
}
/*今天修改*/
.ft_left{
	width: 489px;
	overflow: hidden;
	margin: 0 auto;	
	text-align: center;
	margin-bottom: 10px;
}
.ft_left p{
	text-align: center;
	color: #535553;
	line-height: 30px;
}
.ft_left span{
	width: 98px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 4px;
}
.ft_right{
	width: 182px;
	overflow: hidden;
	float: right;
}
.ft_right ul li{
	float: left;
	color: #535553;
	width: 103px;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	line-height: 24px;
	letter-spacing: 0;
}
.show{
	width: 100px;
	overflow: hidden;
	float: right;
}
.show p{
	width: 100px;
	overflow: hidden;
	color: #717271;
	font-weight: bold;
	float: right;
}
.show p a{
	background: url(../images/dt0.1_0601.jpg) no-repeat right;
	padding-right: 25px;
}
#Date{
	margin-left: 70px;
	font-size: 14px;
	color: #444744;
	white-space: pre;
}
.zuixin{
	width: 1190px;
	height: 70px;
	position: absolute;
	overflow: hidden;
	margin: 0 auto;
}
#new{
	width: 70px;
	overflow: hidden;
	position:relative;
	top: 30px;
}
#new ul li{
	color:#16700c;
	position: relative;
	background: url(../images/dt0101_05.jpg) no-repeat;
	padding-left: 15px;
	letter-spacing: 1px;
	font-size: 12px;
}
/*跑马灯效果*/
.content {
	display: block;
	width: 850px;
	padding: 1em 0;
	overflow: hidden;
}
.container {
	width: 100%;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer;
}

.marquee-sibling {
	padding: 0;
	width: 85px;
	height: 45px;
	line-height: 42px;
	font-size: 12px;
	font-weight: normal;
	color:red;	
	float: left;
	left: 0;
	z-index: 2000;
}
.marquee-sibling .ma_li{
	color:#16700c;
	position: relative;
	background: url(../images/dt0101_05.png) no-repeat;
	padding-left: 0px;
	letter-spacing: 1px;
	font-size: 12px;
	background-position:0 12px;
}
.marquee, *[class^="marquee"] {
	display:inline-block;
	white-space:nowrap;
	position:absolute;
}
.marquee{
  width: 820px;
}

.box_img ul li{
	width: 747px;
	height: 459px;
}
.img6{
	width: 747px;
	height: 459px;
	position:absolute;
}
.box_img ul li a span{
	width:747px;
	height:20px;
	background:rgba(0,0,0,0.8);
	position:absolute;
	margin-top: 420px;
	padding: 10px 0;
	opacity: 0.8;
	filter: alpah(opacity=80);
	line-height: 24px;		
}
.button {
	width: 125px;
	overflow: hidden;
	float: right;
	margin-top: 20px;
}
.button ul li{
	width: 21px;
	float: left;
	background: url(../images/dt.01_15.jpg) no-repeat;
	background-position: 50% 50%;
	margin-left: 8px;
}
.button ul li.bu_li{
	background: url(../images/dt.01_18.jpg) no-repeat;
	background-position: 0 50%;
}
/*2018.7.6*/
#new2018 ul li{
	line-height: 32px;
}
/*2018.8.2新闻添加日期  修改内容*/
.mr_o li a{
	display: block;
	width:300px;
	overflow: hidden;
	white-space: inherit;
	text-overflow:ellipsis;
	float: left;
}
.mr_o ul li span{
	display: block;
	float: right;
}
#sd{
	width: 367px;
	white-space: normal;
	text-overflow:inherit;
	float: none;
}
.news-t ul li a{
	display: block;
	width:275px;
	overflow: hidden;
	white-space: inherit;
	text-overflow:ellipsis;
	float: left;
}
.news-t ul li span{
	float: right;
}
/*2018.8.3获奖作品专栏*/
.scrollpic {
	width: 367px;
	margin:10px auto 10px auto;
	
}
.anniu{
	width:367px;
	height: 100%;
	position: relative;	
}
#left, #right{
	position:absolute;
	z-index: 100;
	top: 120px;
	width: 30px;
	height: 56px;
}
#left {
	background-image: url(../images/icoLeft.jpg);
	left: 0;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#right {
	background-image: url(../images/icoRight.jpg);
	right: 0;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#myscrollbox ul li:first-child{
	margin-left: 0;
}
#myscroll {
	display: block;
	width: 367px;
	position: relative;
	height: 300px;
	overflow: hidden;
}
#myscroll #myscrollbox {
	display: block;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 6000px;
}
#myscroll ul {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#myscroll ul li {
	display: block;
	float: left;
	padding: 0;
	width:367px;
	overflow: hidden;
	margin-left: 29px;
}
#myscroll ul li a img{
	width:367px;
	height: 300px;
	transition: 1s;
}
#myscroll ul li a:hover img{
	transform: scale(1.2);
	transition: 1s;
}
#myscroll ul li a {
	display: block;
	float: left;
	width: 367px;
	padding: 0;
	position: relative;
	height: 300px;
	color: #333;
}
#myscroll a .intro {
	position: absolute;
	left: 0;
	z-index: 10;
	background-color: #000000;
	filter: alpha(opacity=60);
	width: 367px;
	color: #fff;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	text-align: center;
}
#myscroll a .intro h5 {
	padding: 0;
	margin: 0;
	font-size: 14px;
	height: 300px;
	width: 150px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	line-height: 300px;
	border-bottom: 1px solid #347fdc;
	color: #FFFFFF;
}
#myscroll a .intro p {
	font-size: 13px;
	line-height: 20px;
	margin: 65px 70px;
	height: 70px;
	overflow: hidden;
}
#myscroll a .intro {
	bottom: -301px;
}
#myscroll a:hover .intro {
	bottom: 0px;
}
#mybtns {
	margin: 10px 0;
	width: 367px;
	display: block;
	height: 42px;
}
#mybtns a {
	width: 42px;
	height: 42px;
	display: block;
	float: right;
	margin-right: 1px;
	background-color: #c1c1c1;
	margin-left:10px;
}
#mybtns a:hover {
	background-color: #347fdc;
}
#mybtns a:hover, #myscroll, #mybtns a, #myscroll a:hover .intro, #myscroll a .intro, #myscroll #myscrollbox {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#kinMaxShow {
	visibility: hidden;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
/*2018.9.4添加内容*/
.bottom_img{
	position: fixed;
	bottom: 155px;
	left: 30px;
}
.bottom_img1{
	position: fixed;
	bottom: 155px;
	right: 30px;
}
.bottom_img img, .bottom_img1 img{
	width: 125px;
	height: 250px;
}
/*培训报名*/
.bm{
	width: 100%;
	overflow: hidden;
}
.bm ul li{
	width: 100%;
	height: 40px;
	font-size:16px;
	color: #2d2d2d;
	line-height: 40px;
}
.bm li input{
	margin-left: 10px;
	width: 250px;
	height: 25px;	
}
.opt{
	width:100px;
	height: 25px;
	border: 1px solid red;
}
#submit{
	width: 100px;
	height: 30px;
	color: #ffffff;
	background: #16700c;
	margin: 0 auto;
	border-radius: 10px;
	border: 0;
	line-height: 30px;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: bold;
}
#submit:hover{
	cursor: pointer;
}
